<div id="<?$_name?>">
	<div class="row" style="border:1px solid black">
		<div class="col-md-4">
			<div>
				<h1><?$school_name?></h1>
				<small> ( <?$sub1?> )</small></br>
				<small> ( <?$sub2?> )</small>
			</div>
			<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">Receipt No:</div>
					<div class="col-md-6"><?$receipt_no?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Name:</div>
					<div class="col-md-6"><?$student_name?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Class:</div>
					<div class="col-md-6"><?$class?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Month:</div>
					<div class="col-md-6"><?$month?></div>
				</div>

				<div class="row">
					<div class="col-md-6">Scholar No:</div>
					<div class="col-md-6"><?$scholar_no?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Receipt No:</div>
					<div class="col-md-6"><?$receipt_no?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Transport Code:</div>
					<div class="col-md-6"><?$transport_code?></div>
				</div>
				<div class="row">
					<div class="col-md-6">Late Fee:</div>
					<div class="col-md-6"><?$late_fee?></div>
				</div>
			</div>
			

			</div>

		</div>


		<div class="col-md-8">
			
		</div>

	</div>

	<?$name?> <br/>
	<?$amount?>
</div>