<div id="<?$_name?>">	
	<table style='border: 2px solid black'>
		<tr>
			<td style='border: 2px solid black' width='300px'>
				<!-- Counter Area Start -->
				<h2 align='center'> <?$school_name?><small><small><?$sub1?><br/><?$sub2?></small></small></h2>
				<table>
					<tr>
						<td><b>Receipt No</b></td>
						<td><?$receipt_no?></td>
					</tr>
					<tr>
						<td><b>Sch. No.</b></td>
						<td><?$scholar_no?></td>
					</tr>
					<tr>
						<td><b>Name</b></td>
						<td><?$student_name?></td>
					</tr>
					<tr>
						<td><b>Class</b></td>
						<td><?$class?></td>
					</tr>
					<tr>
						<td >
							<b>Month</b>
						</td>
						<td>
							<?$month?>
							
						</td>
					</tr>
					
					<tr>
						<td><b>Transport Code</b></td>
						<td><?$transport_code?></td>
					</tr>
					<tr>
						<td><b>late Fees</b></td>
						<td><?$late_fee?></td>
					</tr>
					<tr>
						<td><b>Amount</b></td>
						<td><?$amount?></td>
					</tr>
					
				</table>
				<!-- Counter Area End -->
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td style='border: 2px solid black'  width='600px'>
				<!-- Student Portion Start  -->
				<h2 align='center'> <?$school_name?><small><small><?$sub1?><br/><?$sub2?></small></small></h2>
				<table width='100%'>
					<tr>
						<td><b>Receipt No</b></td>
						<td><?$receipt_no?></td>
					</tr>
					<tr>
						<td><b>Sch. No.</b></td>
						<td><?$scholar_no?></td>
					</tr>
					<tr>
						<td><b>Name</b></td>
						<td><?$student_name?></td>
					</tr>
					<tr>
						<td><b>Class</b></td>
						<td><?$class?></td>
					</tr>
					<tr>
						<td>
							<b>Month</b>
						</td>
						<td>
							<?$month?>
							
						</td>
					</tr>
					
					<tr>
						<td><b>Transport Code</b></td>
						<td><?$transport_code?></td>
					</tr>
					<tr>
						<td><b>Late Fees</b></td>
						<td><?$late_fee?></td>
					</tr>
					<tr>
						<td colspan=2>
							<table width='100%'>
								<tr>
									<td><b>Amount</b></td>
									<td><?$amount?></td>
									<td></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
					<td>&nbsp;</td>
					<td width='60%' align='right'><b>Signature</b></td>
						
					</tr>
					
				</table>
				<!-- Student Portion End  -->
			</td>
		</tr>
	</table>
</div>