<div id="<?$_name?>">
	<div style="padding-top:25px"></div>
	<div class="row " >
		<div class="col-md-4" style="border:1px solid black;">
			<div class="text-center">
				<h1><?$school_name?></h1>
				<small> ( <?$sub1?> )</small></br>
				<small> ( <?$sub2?> )</small>
			</div>
			<div style="padding-top:25px">
				
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">Receipt No</div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$receipt_no?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-4">Name </div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$student_name?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-4">Class</div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$class?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-4">Month</div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$month?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-4">Scholar No</div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$scholar_no?></div>
					</div>
					<div style="padding-top:10px"></div>
					
					<div class="row">
						<div class="col-md-4">Late Fee</div>
						<div class="col-md-1">:</div>
						<div class="col-md-7"><?$late_fee?></div>
					</div>
					<div class="row pull-right">
						<div class="col-md-4">&nbsp;&nbsp;</div>
						<div class="col-md-6">Signature</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8" style="border:1px solid black;">
			<div class="text-center">
				<h1><?$school_name?></h1>
				<small> ( <?$sub1?> )</small></br>
				<small> ( <?$sub2?> )</small>
			</div>
			<div style="padding-top:25px">
				
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">Receipt No:</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$receipt_no?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-3">Name :</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$student_name?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-3">Class:</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$class?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-3">Month:</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$month?></div>
					</div>
					<div style="padding-top:10px"></div>
					<div class="row">
						<div class="col-md-3">Scholar No:</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$scholar_no?></div>
					</div>
					<div style="padding-top:10px"></div>
					
					<div class="row">
						<div class="col-md-3">Late Fee:</div>
						<div class="col-md-1">:</div>
						<div class="col-md-8"><?$late_fee?></div>
					</div>
					<div class="row pull-right">
						<div class="col-md-4">&nbsp;&nbsp;</div>
						<div class="col-md-6">Signature</div>
					</div>
				</div>
				
			</div>
		</di
	</div>
	</div>
