<style type="text/css">
	.font{
		font-size: 20px;
	}
</style>
<table width="100%">
	<tr>
		<td>
			<!-- Voucher heading table -->
			<h1 align="center"><?$school_name?> Sr. Sec School, Udaipur<br/><small><?$type?></small></h1>
			<table width="100%" class='font'>
				<tr>
					<td><img src="logo.png" width="50px" height="50px"></td>
					<td>No :....... </td>
					<td align="right">Date :<?$date?> </td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<!-- Voucher detraild -->

			<table width="100%" style="border-top:1px solid black" class="font" >
				<tr style="border-bottom:1px solid black">
					<th style="border-right:1px solid black;width:50%">
						Particulars
					</th>
					
					<th>
						Amount
					</th>
				</tr>
				<tr>
					<td style="border-right:1px solid black" height="100px">
						DEBIT..&nbsp;&nbsp;<br/>
						<b style='padding-left:50px;'><?$debit?></b>
					</td>
					<td style="border-right:0px solid black" align="center">
						
						<?$amount?>
					</td>
					
				</tr>
				<tr>
					<td  align="right">
						<b>Total</b>
					</td>
					
					<td style="border:0px solid black" align="center">
						<?$amount?>
					</td>
				</tr>
				<tr>
					<td style="border-right:1px solid black" height="100px">
						Credit..&nbsp;&nbsp;
						<br/>
						<b style='padding-left:50px;'><?$credit?></b> 
					</td>
					
					<td align="center" >
						<?$amount?>
					</td>
				</tr>
				<tr>
					<td align="right">
						<b>Total</b>
					</td>
					
					<td  align="center">
						<?$amount?>
					</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr>
		<table width="100%" class="font">
			<tr>
				<td>Approved By:............</td>
			</tr>
			<tr>
				
				<td>Signature ..............</td>
			</tr>
			<tr align='right'>
				<td>&nbsp;</td>
				<td align="right">Receiver Signature ............</td>
			</tr>
		</table>
	</tr>
</table>